*.class

# Package Files #
*.jar
*.war
*.ear
target
.classpath
*/.classpath
.external
src/main/generated
src/main/webapp/META-INF
src/main/resources/rebel.xml
src/generated
.apt_generated/
.settings/
.checkstyle
.factorypath
.project
*/.project
.directory
.externalToolBuilders
bin/
.springBeans
.idea
*.iml
C:
.attach*
.sts4-cache/
*.pdf

